/* Web Unicorn Corp/Free of use/belive in unicorns*/
/* Vilken header font? */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family:'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.quotes {display: none;}​

h2 .quotes {
  font-family:  'Lato', sans-serif;
  font-weight: 300;
}

i {
 font-weight: 300; 
}

h1,h2,h3,h4,h5,h6 {
 font-family: 'Montserrat', sans-serif;  
}
h3 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem;
  margin-top: -2rem;
}

/* vilken font family på vanlig text */
p {
  font-family:'Lato', sans-serif;
}

ol li {
  margin-top: 2%;
  font-family:'Lato', sans-serif;

}

.myButton {
width: 8rem;
height: 8rem;
font-family:'Lato', sans-serif;
}

.donatenow a {
  float:right;
  margin-right: 2%;
  margin-top: 2%;
  font-family:'Lato', sans-serif;
}

.logo {
  width: 20em;
  margin-top: 2%;
  left: 2%;
}

.h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 12rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.matrix {
  margin-top: 28%;
  font-size: 9rem;
}
.refugee {

}

.refugee h2 {
  font-size: 1.7rem;
  padding-top: 8%;
}
.refugee p {
  width: 40%;
  float: left;
  margin-left: 1%;
  font-size:1.4rem;
  padding-top: 5%
  
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.backgroundvideo {
  height: 854px;
  z-index: -5;
}



.container40b {
  margin-top: 1%;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.container40b img {
 height: 40%;
  width: 40%;
}



.bus img {
    margin-left: 41%;
    margin-right: auto;
    width: 6rem; height: 12em;
    z-index: 1;
  }


.button1 img {
    width: 30%;
    
    color:black;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
  
}

.button1:hover {
    opacity: 0.7;
}


.container {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.container h1, h2 {
    color: white;
}

.blackarea {
  background-color: black;
  height: 890px;
  margin-bottom: -2%;
}


.characterpicture {
  background-image: url("../img/jfr1.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 890px;
  margin-top: -3%;
  z-index: 1;
}

.illustration {
background-image: url("../img/road3.svg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: -1%;
height: 2000px;
z-index: -50;
}

.containergoth {
  width: 90%;
  margin-left: 5%;
  padding-top: 5%;
  text-align: center;
  color: white;
}

.containergoth h2 {
  font-size: 1.3rem;
  padding-top: 4%;
}

.containergoth p {
  font-size:1.1rem;
}

.gothenburgpicture {
background-image: url("../img/goth.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 805px;
margin-top: -0%;
} 



.donationinfo {
	background-color: white;
	background-position: center;
background-repeat: no-repeat;
height: 1200px;
margin-top: -2.4%;
z-index: 2;
}

.footer {
  background-color: black;
  color: white;
  height: 70px;
  text-align: center;
  color: white;
}

.morpheus {
  text-align: center;
  margin: auto;
  padding-top: 20%;
  font-size: 3rem;
 
}
/* fixed som problem before ipad screening*/

@media screen and (max-width: 850px) {

.illustration {
background-image: url("../img/road3.svg");
background-position: center;
background-repeat: no-repeat;
height: 1500px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: -2%;
}

.bus img {
 
    bottom: 15%;
    margin-left: 34%;
    width: 6rem; height: 10em;
    z-index: 1;
  }

  .gothenburgpicture {
background-image: url("../img/goth.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 805px;
margin-top: -0%;
} 

/* ipad potrait screen*/

@media screen and (max-width: 769px) {

.illustration {
background-image: url("../img/mobil_road.svg");
background-position: center;
background-repeat: no-repeat;
height: 1940px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: -5%;
}



.bus img {
    bottom: 25%;
    margin-left: 34%;
    width: 4rem; height: 8em;
    z-index: 1;
  }

.containergoth {
  width: 80%;
  margin-left: 5%;
  text-align: center;
  margin-right: 5%;
}

.container40 {
  width: 80%;
  margin-left: 20%;

}
.container40b {
  margin-top: 1%;
  width: 80%;
  margin-left: 10%;
}

video {
  display: none;
}
#background {
  display: none;
}

.backgroundvideo {
background-image: url("../img/stock.jpg");
background-position: center;
background-repeat: no-repeat;
height: 1004px;
background-size: cover;

}

.characterpicture {
  background-image: url("../img/jfr1.jpg");
background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
margin-top: -30px;
  height: 804px;
  z-index: 1;
}

.logo {
  width: 10em;
  margin-top: 2%;
  left: 2%;
}



.gothenburgpicture {
background-image: url("../img/goth.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 805px;
margin-top: -0.5%;
} 

.donationinfo {
  background-color: white;
  background-position: center;
background-repeat: no-repeat;
height: 900px;
margin-top: -2.4%;
z-index: 2;
}

.button1 img {
    width: 80%;
    
    color:black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
  
}

.container40b img {
    width: 40%;
    margin-bottom: 5%;
}

}


/* small iphone screen*/
@media screen and (max-width: 481px) {

.illustration {
background-image: url("../img/mobil_road.svg");
background-position: center;
background-repeat: no-repeat;
height: 2000px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: -9%;

}



.bus img {
    bottom: 20%;
    margin-left: 30%;
    width: 4rem; height: 8em;
    z-index: 1;
  }

.container40 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.container40b {
  margin-top: 1%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

video {
  display: none;
}
#background {
  display: none;
}

.backgroundvideo {
background-image: url("../img/stock.jpg");
background-position: center;
background-repeat: no-repeat;
height: 1004px;
background-size: cover;

}

.characterpicture {
  background-image: url("../img/juliamobile.jpg");
background-size: 100% auto;
background-position: center;
height: 495px;
 margin-top: -8%;
  
  z-index: 1;
}

.logo {
  width: 9em;
  margin-top: 2%;
  left: 2%;
}

.gothenburgpicture {
background-image: url("../img/goth.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 805px;
margin-top: -0%;
} 

.donationinfo {
  background-color: white;
  background-position: center;
background-repeat: no-repeat;
height: 500px;
margin-top: -2.4%;
z-index: 2;
}

.refugee p {
  width: 90%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  font-size:1.1rem;
  padding-top: 10%
  
}

.blackarea {
  background-color: black;
  height: 650px;
  margin-bottom: -2%;
}

.button1 img {
    width: 80%;
    
    color:black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
  
}

.container40b img {
    width: 40%;
    margin-bottom: 5%;
}

h3 {
  font-size: 1.2rem;
}

.h3 {
  font-size: 1rem;
  margin-top: 0;
}
.morpheus {
  text-align: center;
  margin: auto;
  padding-top: 40%;
  font-size: 3rem;
 
}


}





























